---
import { getImage } from 'astro:assets';
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleCard from '../components/ArticleCard.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import thanksDark from "../assets/img/thank_you_dark.png";
import thanksLight from "../assets/img/thank_you_light.png";
const thanksLightOptimized = await getImage({ src: thanksLight, width: 300, format: 'webp' });
const thanksDarkOptimized  = await getImage({ src: thanksDark,  width: 300, format: 'webp' });

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="container">
    <div class="center-contents">
      <h1>
        It's Happening.
        <br />
        The Brock Yard Revival is Underway.
      </h1>
      <p class="measure">After years of planning, community organizing, and an extraordinary outpouring of generosity, our fundraising campaign has wrapped up.</p>
      <p class="callout">Together, we raised <b>$128,703.62</b></p>
      <p>
        <picture>
          <source srcset={thanksLightOptimized.src} media="(prefers-color-scheme: dark)" />
          <img src={thanksDarkOptimized.src} alt="Thank You" width="200" />
        </picture>
      </p>
    </div>

    <hr>

    <div>
      <h2>Project Updates</h2>
      <p>Construction on the new schoolyard is set to begin <b>this Summer,</b> with the goal of having the space ready for September 2026.
      We'll be sharing updates here as the project moves through the construction phase.</p>
      {
        posts.map((post) => (
          <ArticleCard post={post} />
        ))
      }
    </div>
  </div>
</BaseLayout>
